<form [formGroup]="form">
  <div formArrayName="websites">
    <div *ngFor="let singleWebsite of formArray.controls; let i = index">
      <ng-container *ngIf="formArray.length == i + 1">
        <label> Add a new Website </label>
        <input
          #websiteInput
          (input)="changeWebsite(websiteInput.value, i)"
          [formControlName]="i"
          type="text"
          placeholder="Add website link"
        />
      </ng-container>

      <ng-container *ngIf="formArray.length > i + 1">
        <label> Website {{ i + 1 }} </label>
        <input
          #websiteInput
          (input)="changeWebsite(websiteInput.value, i)"
          [formControlName]="i"
          type="text"
          placeholder="Add website link"
          [id]="'website' + i"
        />
      </ng-container>
    </div>
  </div>
</form>
